@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h3 {
  font-size: 30px;
  color: #5f22a8;
}

input[type],
input[type]:focus:not([readonly]) {
  border-bottom: 1px solid #5f22a8;
  box-shadow: 0 1px 0 0 #5f22a8;
}

input[type]:focus:not([readonly]) + label {
  color: #5f22a8;
}

.btn,
.btn-large {
  background-color: #5f22a8;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #5f22a8;
}

.home-busca h3 {
  color: #ff4600;
  font-size: 30px;
}

.home-busca button {
  background: inherit;
  border: none;
  color: #ff4600;
}

.home-categorias {
  margin-bottom: 20px;
}

.home-categorias .home-categorias-item {
  text-align: center;
}

.home-categorias .home-categorias-item a {
  color: #5f22a8;
  font-size: 24px;
}

.home-categorias .home-categorias-item a p {
  margin: 0;
}

.home-categorias .home-categorias-item a img {
  border-radius: 50%;
}

nav {
  background: inherit;
  margin-bottom: 20px;
}

nav .nav-wrapper a {
  color: #ff4600;
}

